{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Document</title>
</head>

<body>
    {% block content %}
    <style>
        body{
            background-color: palegreen;
        }
    </style>
    <h1 class="text-center">NTH-Courses</h1>
    {% if courses %}
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <table class="table table-bordered">
                    <thead class="bg-success text-white" >
                        <tr>
                            <th>Course Name</th>
                            <th>Fee</th>
                            <th>Duration</th>
                            <th>Start date</th>
                            <th>Trainer Name</th>
                            <th>Trainer Exp</th>
                            <th>Training Mode</th>
                        </tr>
                    </thead>
                    <tbody class="bg-dark text-white">
                        {% for i in courses %}
                        <tr>
                            <td>{{i.course_name}}</td>
                            <td>{{i.fee}}</td>
                            <td>{{i.duration}}</td>
                            <td>{{i.start_date}}</td>
                            <td>{{i.trainer_name}}</td>
                            <td>{{i.trainer_exp}}</td>
                            <td>{{i.training_mode}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    <h1>No New Batches</h1>
    {% endif %}
    
    {% endblock %}
</body>
</html>